.root {
    -primary: #81C48355; /* pale green */
    -secondary: #375FCB; /* blue */
    -tertiary: #FCC200; /* yellow */
    -tertiary-armed: #FDDD71; /* pale yellow */

    -white: #FFFFFF;
    -red: #FF0000;
    -grey: #333333; /* real cool grey for the line */
    -black: #000000;

    -text-grey: #686868FF;
    -almost-transparent: #FFFFFF22;
}

.shadow-pane {
   -fx-background-color: transparent;
   -fx-background-radius: 10px;
}

.background-pane {
    -fx-padding: 5px;
    -fx-background-color: -white;
    -fx-background-radius: 10px;
 }

.dialog-pane .button {
    -fx-background-color: -secondary;
    -fx-text-fill: -white;
}

.dialog-pane .button:hover {
    -fx-background-color: -tertiary;
}

.transparent {
   -fx-background-color: transparent;
}

.label {
    -fx-text-fill: -text-grey;
}

.transparent-background {
   -fx-background-color: transparent;
}

.transparent-background > .viewport {
   -fx-background-color: transparent;
}

.left-container-background {
    -fx-background-color: -black;
    -fx-background-radius: 10px;
}

.right-container-background {
    -fx-background-color: -white;
    -fx-background-radius: 10px;
}

.main-text {
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.version-text {
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.app-text {
    -fx-text-fill: -white;
    -fx-font-size: 12;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
    -fill: -tertiary-armed;
}

.main-view-button {
    -width: 100;
    -height: 60;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;

    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.submit-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* custom icon */
    -fx-shape: "M0 100 L10 60 L50 50 L10 40 L0 0 L100 50";
}

.minimize-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* icon from FontAwesome */
    -fx-shape: "M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM184 232H328c13.3 0 24 10.7 24 24s-10.7 24-24 24H184c-13.3 0-24-10.7-24-24s10.7-24 24-24z";
}

.git-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* icon from FontAwesome */
    -fx-shape: "m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z";
}

.refresh-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* icon from FontAwesome */
    -fx-shape:"M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"
}

.exit-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* icon from FontAwesome */
    -fx-shape: "M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z";
}

.return-button {
    -height: 20;
    -width: 20;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
    /* icon from FontAwesome */
    -fx-shape: "M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z";
}

.exit-button:hover, .return-button:hover{
    -fill: -red;
}